// COLOURS
$color-primary: #808f85;
$color-primary-2: #91c499;
$color-primary-3: #f2e9dc;
$color-primary-4: #cfd11a;

$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;
$color-gray-dark-4: #595959;

$color-white: #fff;
$color-black: #000;

// FONT SIZES
$default-font-size: 1.6rem;

// Grid structure
$grid-width: 114rem;
$grid-width-2: 50rem;
$gutter-verticle: 8rem;
$gutter-verticle-2: 6rem;
$gutter-horizantal: 6rem;

// FONT FAMILY
$font-type-1: "Rajdhani", sans-serif;
